<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v6.0" sku=".NETFramework,Version=v6.0" />
	</startup>

	<appSettings>
		
		<!--Sekcja Źródła-->
		<add key="logo_image_source" value="Images/logo.png"/>
		<add key="database_connection" value="Server=localhost;Database=trenazerpilkarski;Uid=root;Pwd=pass;"/>
		<add key="font_name" value="Arial"/> <!--Nazwa czcionki w systemie (musi być zainstalowana)-->
		<add key="height" value="500"/>
		
	</appSettings>

</configuration>