<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v6.0" sku=".NETFramework,Version=v6.0" />
	</startup>

	<appSettings>
		
		<!--Sekcja Źródła-->
		<add key="logo_image_source" value="Images/logo.png"/>
		<add key="database_connection" value="Server=localhost;Database=trenazerpilkarski;Uid=root;Pwd=pass;"/>
		
		<!--Sekcja Kolory-->
		
		
		<!--Sekcja Dostosowanie-->
		
		<!--Sekcja -->
		
	</appSettings>

</configuration>